Package: me.jez.minimal
Name: Minimal
Version: 0.0.1
Architecture: iphoneos-arm
Description: AHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHH
Maintainer: Jez
Author: Jez
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000), ws.hbang.common (>= 1.17), com.mrgcgamer.libgcuniversal
