Package: me.jez.minimal
Name: Minimal
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: Jez
Author: Jez
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000)
