Package: com.xyaman.minimal
Name: Minimal
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome Orion tweak!
Maintainer: Xyaman
Author: Xyaman
Section: Tweaks
Depends: ${ORION}, firmware (>= 12.2)
