<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>items</key>
    <array>
      <dict>
        <key>cell</key>
        <string>PSSwitchCell</string>
        <key>default</key>
        <true/>
        <key>defaults</key>
        <string>me.jez.minimal</string>
        <key>PostNotification</key>
        <string>me.jez.minimal.prefschanged</string>
        <key>key</key>
        <string>enabled</string>
        <key>label</key>
        <string>Enabled</string>
      </dict>
      <dict>
        <key>cell</key>
        <string>PSGroupCell</string>
        <key>label</key>
        <string>Actions</string>
      </dict>
      <dict>
        <key>cell</key>
        <string>PSLinkListCell</string>
        <key>detail</key>
        <string>PSListItemsController</string>
        <key>default</key>
        <integer>2</integer>
        <key>defaults</key>
        <string>me.jez.minimal</string>
        <key>PostNotification</key>
        <string>me.jez.minimal.prefschanged</string>
        <key>key</key>
        <string>font</string>
        <key>label</key>
        <string>Action 1</string>
        <key>validTitles</key>
        <array>
          <string>Filler</string>
          <string>Filler</string>
          <string>Filler</string>
          <string>Filler</string>
          <string>Filler</string>
        </array>
        <key>validValues</key>
        <array>
          <integer>0</integer>
          <integer>1</integer>
          <integer>2</integer>
          <integer>3</integer>
          <integer>4</integer>
        </array>
      </dict>
      <dict>
        <key>cell</key>
        <string>PSLinkListCell</string>
        <key>detail</key>
        <string>PSListItemsController</string>
        <key>default</key>
        <integer>0</integer>
        <key>defaults</key>
        <string>me.jez.minimal</string>
        <key>PostNotification</key>
        <string>me.jez.minimal.prefschanged</string>
        <key>key</key>
        <string>font</string>
        <key>label</key>
        <string>Action 2</string>
        <key>validTitles</key>
        <array>
          <string>Filler</string>
          <string>Filler</string>
          <string>Filler</string>
          <string>Filler</string>
          <string>Filler</string>
        </array>
        <key>validValues</key>
        <array>
          <integer>0</integer>
          <integer>1</integer>
          <integer>2</integer>
          <integer>3</integer>
          <integer>4</integer>
        </array>
      </dict>
      <dict>
        <key>cell</key>
        <string>PSLinkListCell</string>
        <key>detail</key>
        <string>PSListItemsController</string>
        <key>default</key>
        <integer>1</integer>
        <key>defaults</key>
        <string>me.jez.minimal</string>
        <key>PostNotification</key>
        <string>me.jez.minimal.prefschanged</string>
        <key>key</key>
        <string>font</string>
        <key>label</key>
        <string>Action 3</string>
        <key>validTitles</key>
        <array>
          <string>Skip to next track</string>
          <string>Go to previous track</string>
          <string>Respring</string>
          <string>Siri shortcut</string>
          <string>Pause music</string>
        </array>
        <key>validValues</key>
        <array>
          <integer>0</integer>
          <integer>1</integer>
          <integer>2</integer>
          <integer>3</integer>
          <integer>4</integer>
        </array>
      </dict>
      <dict>
        <key>cell</key>
        <string>PSGroupCell</string>
        <key>label</key>
        <string>Power Button</string>
        <key>footerText</key>
        <string>With the slider, adjust the amount of seconds the button needs to be held in order to run the action</string>
      </dict>
      <dict>
        <key>cell</key>
        <string>PSLinkListCell</string>
        <key>detail</key>
        <string>PSListItemsController</string>
        <key>default</key>
        <integer>2</integer>
        <key>defaults</key>
        <string>me.jez.minimal</string>
        <key>PostNotification</key>
        <string>me.jez.minimal.prefschanged</string>
        <key>key</key>
        <string>font</string>
        <key>label</key>
        <string>Action</string>
        <key>validTitles</key>
        <array>
          <string>Action 1</string>
          <string>Action 2</string>
          <string>Action 3</string>
        </array>
        <key>validValues</key>
        <array>
          <integer>0</integer>
          <integer>1</integer>
          <integer>2</integer>
        </array>
      </dict>
      <dict>
        <key>cell</key>
        <string>PSSliderCell</string>
        <key>defaults</key>
        <string>me.jez.minimal</string>
        <key>PostNotification</key>
        <string>me.jez.minimal.prefschanged</string>
        <key>showValue</key>
        <true/>
        <key>default</key>
        <real>2</real>
        <key>min</key>
        <real>0</real>
        <key>max</key>
        <real>5</real>
        <key>isSegmented</key>
        <true/>
        <key>segmentCount</key>
        <integer>10</integer>
        <key>key</key>
        <string>customTextSize</string>
        <key>requires</key>
        <string>useCustomTextSize</string>
      </dict>
      <dict>
        <key>cell</key>
        <string>PSGroupCell</string>
        <key>label</key>
        <string>Credits</string>
      </dict>
      <dict>
        <key>cellClass</key>
        <string>SPCreditCell</string>
        <key>label</key>
        <string>Jez</string>
        <key>twitter</key>
        <string>JezBDWalmsley</string>
        <key>subtitle</key>
        <string>Head Developer</string>
      </dict>
      <dict>
        <key>cellClass</key>
        <string>SPCreditCell</string>
        <key>label</key>
        <string>RuntimeOverflow</string>
        <key>twitter</key>
        <string>true</string>
        <key>subtitle</key>
        <string>Developer</string>
      </dict>
      <dict>
        <key>cell</key>
        <string>PSGroupCell</string>
        <key>label</key>
        <string>Special Thanks</string>
      </dict>
      <dict>
        <key>cellClass</key>
        <string>SPCreditCell</string>
        <key>label</key>
        <string>RuntimeOverflow</string>
        <key>twitter</key>
        <string>true</string>
        <key>subtitle</key>
        <string>Tester</string>
      </dict>
      <dict>
        <key>cell</key>
        <string>PSGroupCell</string>
        <key>footerText</key>
        <string>Jez Walmsley</string>
      </dict>
      <dict>
        <key>action</key>
        <string>contactSupport</string>
        <key>cell</key>
        <string>PSButtonCell</string>
        <key>label</key>
        <string>Contact support</string>
      </dict>
      <dict>
        <key>cell</key>
        <string>PSGroupCell</string>
        <key>footerText</key>
        <string>A respring is required for the changes to take place.</string>
        <key>isStaticText</key>
        <true/>
      </dict>
    </array>
    <key>title</key>
    <string>minimal</string>
  </dict>
</plist>