<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
    <dict>
        <key>cell</key>
        <string>PSButtonCell</string>
        <key>cellClass</key>
        <string>GcTwitterCell</string>
        <key>accountLabel</key>
        <string>Jez</string>
        <key>account</key>
        <string>J3ziah</string>
        <key>URL</key>
        <string>https://pbs.twimg.com/profile_images/1433495137854836747/khYYR_Pi_400x400.jpg</string>
    </dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Enabled/Disabled</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.jez.minimalPrefs</string>
			<key>key</key>
			<string>Enabled</string>
			<key>label</key>
			<string>Enabled</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Customizations options</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSStaticTextCell</string>
			<key>label</key>
			<string>Icon Size (Turning it up to max is not advised)</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>default</key>
			<real>1</real>
			<key>defaults</key>
			<string>com.jez.minimalPrefs</string>
			<key>key</key>
			<string>iconSize</string>
			<key>min</key>
			<real>0.5</real>
			<key>max</key>
			<real>5</real>
			<key>showValue</key>
			<true/>
			<key>isSegmented</key>
			<false/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.jez.minimalPrefs</string>
			<key>key</key>
			<string>vibrateOnSilent</string>
			<key>label</key>
			<string>Vibrate on silent</string>
		</dict>

		<!-- https://github.com/xyaman/cucu/blob/main/Prefs/Resources/Root.plist#L78 -->

		<dict>
            <key>cell</key>
            <string>PSGroupCell</string>
            <key>label</key>
            <string>Dismiss Icon after (Thanks xyaman)</string>
        </dict>
		<dict>
    		<key>cellClass</key>
    		<string>HBStepperTableCell</string>
    		<key>default</key>
    		<real>6</real>
    		<key>defaults</key>
  		 	<string>com.jez.minimalPrefs</string>
  		  	<key>key</key>
   		 	<string>dismissDelay</string>
   		 	<key>label</key>
   		 	<string>%i Seconds</string>
   		 	<key>max</key>
			<real>30</real>
    		<key>min</key>
    		<real>1</real>
    		<key>singularLabel</key>
    		<string>1 Second</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSSegmentCell</string>
			<key>height</key>
			<real>50</real>
			<key>defaults</key>
			<string>com.jez.minimalPrefs</string>
			<key>default</key>
			<string>0</string>
			<key>key</key>
			<string>hapticsStrength</string>
			<key>validValues</key>
			<array>
				<string>0</string>
				<string>1</string>
				<string>2</string>
			</array>
			<key>validTitles</key>
			<array>
				<string>Soft</string>
				<string>Medium</string>
				<string>Strong</string>
			</array>
			<key>id</key>
			<string>SegmentCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Support me :)</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>HBLinkTableCell</string>
			<key>label</key>
			<string>Buy me a cofffeeeeeeeeeeeeeeee</string>
			<key>subtitle</key>
			<string>Greatly appreciated</string>
			<key>url</key>
			<string>https://paypal.me/JezGaming</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>HBLinkTableCell</string>
			<key>label</key>
			<string>Discord</string>
			<key>subtitle</key>
			<string>for supporty things</string>
			<key>url</key>
			<string>https://discord.gg/axp4VzygEw</string>
		</dict>
	</array>
	<key>title</key>
	<string>MinimalPrefs</string>
</dict>
</plist>
